BACKUP_N8N.json
{
  "updatedAt": "2026-06-17T17:09:20.314Z",
  "createdAt": "2026-06-17T17:08:18.205Z",
  "id": "YOUR_WORKFLOW_ID",
  "name": "BACKUP_N8N",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        544,
        -320
      ],
      "id": "30a57709-652d-41e4-b918-0d16ecd8ab36",
      "name": "TRIGGER"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "N8N_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -320
      ],
      "id": "4a8ea879-4620-4f92-a2e3-e76192e72b10",
      "name": "GET_WORKFLOWS"
    },
    {
      "parameters": {
        "jsCode": "const workflows = $input.first().json.data;\n\nreturn workflows.map(wf => {\n  const jsonString = JSON.stringify(wf, null, 2);\n  const base64 = Buffer.from(jsonString, 'utf8').toString('base64');\n  \n  return {\n    json: {\n      name: wf.name.replace(/[^a-zA-Z0-9-_]/g, '_') + '.json',\n      backup_content: base64  // nom différent pour éviter la confusion\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -320
      ],
      "id": "8be32bce-43c4-4207-82ff-e1b3a8785228",
      "name": "PREP_FICHIERS"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO_NAME/contents/{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GITHUB_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        -80
      ],
      "id": "ebcecb79-f2c2-42c5-8690-5fa221b2e3fb",
      "name": "GET_SHA",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const getResults = $input.all();\nconst originalItems = $('PREP_FICHIERS').all();\n\nreturn getResults.map((item, index) => {\n  const original = originalItems[index]?.json || {};\n  \n  const result = {\n    json: {\n      name: original.name,\n      content: original.backup_content\n    }\n  };\n\n  // SHA depuis le GET réussi uniquement\n  const sha = item.json?.sha;\n  if (sha && typeof sha === 'string' && sha.length === 40) {\n    result.json.sha = sha;\n  }\n\n  return result;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -80
      ],
      "id": "cb16a8d2-d912-4376-9dcc-7cf9dac73d61",
      "name": "MERGE_DATA"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO_NAME/contents/{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GITHUB_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Backup {{ $json.name }} - {{ new Date().toLocaleDateString('fr-FR') }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        -80
      ],
      "id": "807beed6-79ef-43f2-bc18-f4de609a64b8",
      "name": "PUSH_GITHUB"
    },
    {
      "parameters": {
        "jsCode": "const items = $('PREP_FICHIERS').all();\nconst token = 'GITHUB_TOKEN';\nconst repo = 'YOUR_USERNAME/YOUR_REPO_NAME';\n\nconst results = [];\n\nfor (const item of items) {\n  const name = item.json.name;\n  const content = item.json.backup_content;\n  \n  let sha = undefined;\n  try {\n    const getResp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.github.com/repos/${repo}/contents/${name}`,\n      headers: { Authorization: `Bearer ${token}` }\n    });\n    sha = getResp.sha;\n  } catch (e) {\n    // Fichier nouveau, pas de SHA\n  }\n  \n  const body = {\n    message: `Backup ${name} - ${new Date().toLocaleDateString('fr-FR')}`,\n    content\n  };\n  if (sha) body.sha = sha;\n  \n  await this.helpers.httpRequest({\n    method: 'PUT',\n    url: `https://api.github.com/repos/${repo}/contents/${name}`,\n    headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify(body)\n  });\n  \n  results.push({ json: { name, status: 'ok' } });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -320
      ],
      "id": "6361b0e8-617c-46dc-b984-b09cf972f1ec",
      "name": "BACKUP"
    }
  ],
  "connections": {
    "TRIGGER": {
      "main": [
        [
          {
            "node": "GET_WORKFLOWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_WORKFLOWS": {
      "main": [
        [
          {
            "node": "PREP_FICHIERS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREP_FICHIERS": {
      "main": [
        [
          {
            "node": "BACKUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_SHA": {
      "main": [
        [
          {
            "node": "MERGE_DATA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MERGE_DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE_DATA": {
      "main": [
        [
          {
            "node": "PUSH_GITHUB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "YOUR_VERSION_ID",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-17T17:08:18.208Z",
      "createdAt": "2026-06-17T17:08:18.208Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID"
    }
  ],
  "activeVersion": null,
  "tags": []
}
