METEO-MOTO.json
{
  "updatedAt": "2026-06-17T20:45:06.968Z",
  "createdAt": "2026-06-17T20:45:06.968Z",
  "id": "YOUR_WORKFLOW_ID",
  "name": "METEO-MOTO",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 7 * * *"}]}},
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [528, -272],
      "id": "0aaee23e-e26e-4c32-b3e4-56cadfc6719f", "name": "TRIGGER_MATIN"
    },
    {
      "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 20 * * *"}]}},
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [528, -128],
      "id": "4d463ce5-ca0f-42d9-861a-258c2cacfa68", "name": "TRIGGER_SOIR"
    },
    {
      "parameters": {
        "jsCode": "const villes = [\n  { nom: 'VILLE_1', lat: LATITUDE_1, lon: LONGITUDE_1 },\n  { nom: 'VILLE_2', lat: LATITUDE_2, lon: LONGITUDE_2 },\n  { nom: 'VILLE_3', lat: LATITUDE_3, lon: LONGITUDE_3 }\n];\n\nreturn villes.map(v => ({ json: v }));"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [768, -192],
      "id": "df4a39d1-369d-44c3-ad15-412957f81d0f", "name": "VILLES"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.lat }}&longitude={{ $json.lon }}&daily=temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max,weathercode&timezone=Europe/Paris&forecast_days=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [928, -192],
      "id": "49c09da4-e7ce-4d5f-a08e-515c6639214c", "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst villes = $('VILLES').all();\nconst messages = items.map((item, index) => {\n  const ville = villes[index]?.json?.nom || 'Ville inconnue';\n  const daily = item.json.daily;\n  const tempMax = daily.temperature_2m_max[0];\n  const tempMin = daily.temperature_2m_min[0];\n  const pluie = daily.precipitation_sum[0];\n  const vent = daily.windspeed_10m_max[0];\n  const code = daily.weathercode[0];\n  let meteo = '🌤️ Variable';\n  if (code === 0) meteo = '☀️ Ensoleillé';\n  else if (code <= 3) meteo = '🌤️ Peu nuageux';\n  else if (code <= 48) meteo = '☁️ Nuageux/Brouillard';\n  else if (code <= 67) meteo = '🌧️ Pluie';\n  else if (code <= 77) meteo = '❄️ Neige';\n  else if (code <= 82) meteo = '🌦️ Averses';\n  else meteo = '⛈️ Orage';\n  let conseil = '✅ Bonnes conditions pour rouler !';\n  if (pluie > 5) conseil = '❌ Pluie trop importante, évite de sortir.';\n  else if (pluie > 0) conseil = '⚠️ Légère pluie prévue, sois prudent.';\n  else if (vent > 60) conseil = '⚠️ Vent fort, attention en moto !';\n  else if (tempMax < 5) conseil = '⚠️ Températures basses, route potentiellement glissante.';\n  return `📍 **${ville}**\\n${meteo}\\n🌡️ ${tempMin}°C → ${tempMax}°C\\n💨 Vent : ${vent} km/h\\n🌧️ Pluie : ${pluie} mm\\n${conseil}`;\n});\nconst heure = new Date().getHours();\nconst titre = heure < 12\n  ? `🏍️ **Météo Moto du ${new Date().toLocaleDateString('fr-FR')}**`\n  : `🏍️ **Météo Moto demain ${new Date(Date.now() + 86400000).toLocaleDateString('fr-FR')}**`;\nconst content = `${titre}\\n\\n${messages.join('\\n\\n---\\n\\n')}`.substring(0, 1990);\nreturn [{ json: { content } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1088, -192],
      "id": "7304b964-4f32-4ce6-a4d3-5713fa4ecd6b", "name": "FORMATEUR_METEO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "DISCORD_WEBHOOK_URL_METEO",
        "sendBody": true,
        "bodyParameters": {"parameters": [{"name": "content", "value": "={{ $json.content }}"}]},
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1280, -192],
      "id": "70abcdfd-af7f-4b9e-9201-0f99df81ec73", "name": "HTTP Request1"
    }
  ],
  "connections": {
    "TRIGGER_MATIN": {"main": [[{"node": "VILLES", "type": "main", "index": 0}]]},
    "TRIGGER_SOIR": {"main": [[{"node": "VILLES", "type": "main", "index": 0}]]},
    "VILLES": {"main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]},
    "HTTP Request": {"main": [[{"node": "FORMATEUR_METEO", "type": "main", "index": 0}]]},
    "FORMATEUR_METEO": {"main": [[{"node": "HTTP Request1", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "binaryMode": "separate"},
  "staticData": null, "meta": null, "pinData": {},
  "versionId": "YOUR_VERSION_ID",
  "activeVersionId": null, "triggerCount": 0,
  "shared": [{"updatedAt": "2026-06-17T20:45:06.970Z", "createdAt": "2026-06-17T20:45:06.970Z", "role": "workflow:owner", "workflowId": "YOUR_WORKFLOW_ID", "projectId": "YOUR_N8N_PROJECT_ID"}],
  "activeVersion": null, "tags": []
}
