RECHERCHE_ALTERNANCE.json
{
  "updatedAt": "2026-06-17T20:40:46.295Z",
  "createdAt": "2026-06-17T20:17:33.182Z",
  "id": "YOUR_WORKFLOW_ID",
  "name": "RECHERCHE ALTERNANCE",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"triggerAtHour": 9}]}},
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [-912, 240],
      "id": "78a0e1c8-2601-41a6-b586-f7cbaf7c3879", "name": "TRIGGER"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {"parameters": [
          {"name": "q", "value": "alternance admin réseau Charente-Maritime Niort La Rochelle"},
          {"name": "api_key", "value": "SERPAPI_KEY"},
          {"name": "hl", "value": "fr"},
          {"name": "gl", "value": "fr"},
          {"name": "num", "value": "10"}
        ]},
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-704, 64],
      "id": "8cd7771a-cf21-437c-a7eb-b4ad497bb05f", "name": "GET_OFFRES_SERPAPI"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.organic_results || [];\nconst villes = [\"La Rochelle\",\"Niort\",\"Bordeaux\",\"Poitiers\",\"Saintes\",\"Rochefort\",\"Cognac\",\"Angoulême\"];\nreturn results.map(r => {\n  const emailMatch = (r.snippet || \"\").match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/);\n  const ville = villes.find(v => (r.title + (r.snippet||\"\")).includes(v)) || \"Nouvelle-Aquitaine\";\n  return { json: { Entreprise: r.title || \"\", Ville: ville, \"Site web\": r.link || \"\", \"Email RH\": emailMatch ? emailMatch[0] : \"\", Source: \"Google via N8N\", Statut: \"A contacter\" } };\n}).filter(item => item.json.Entreprise.length > 3);"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-544, 64],
      "id": "a580450a-87b5-4257-8646-95b472816731", "name": "PARSE_SERPAPI"
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {"parameters": [
          {"name": "query", "value": "alternance administrateur systeme reseau Nouvelle-Aquitaine"},
          {"name": "page", "value": "1"},
          {"name": "num_pages", "value": "3"},
          {"name": "country", "value": "fr"},
          {"name": "language", "value": "fr"}
        ]},
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "X-RapidAPI-Host", "value": "jsearch.p.rapidapi.com"},
          {"name": "X-RapidAPI-Key", "value": "RAPIDAPI_KEY"}
        ]},
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-704, 240],
      "id": "8d8d64d4-2b3f-4c96-ac95-90969cc222ee", "name": "GET_OFFRES_JSEARCH"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.first().json.data || [];\nreturn jobs.map(job => {\n  return { json: { Entreprise: job.employer_name || \"\", Ville: job.job_city || \"Nouvelle-Aquitaine\", \"Site web\": job.employer_website || \"\", \"Email RH\": \"\", Source: \"JSearch/Indeed\", Statut: \"A contacter\", \"Intitulé poste\": job.job_title || \"\", \"Lien offre\": job.job_apply_link || \"\" } };\n}).filter(item => item.json.Entreprise.length > 2);"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-544, 240],
      "id": "1c558e5e-b4c9-40ef-bf7c-6b3edf7f5eaa", "name": "PARSE_JSEARCH"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [-320, 192],
      "id": "841b5c8a-58c4-4d90-9208-dbdd7ec73e02", "name": "MERGE_OFFRES"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {"parameters": [
          {"name": "domain", "value": "={{ $json[\"Site web\"].replace(\"https://\", \"\").replace(\"http://\", \"\").split(\"/\")[0] }}"},
          {"name": "api_key", "value": "HUNTERIO_API_KEY"},
          {"name": "role", "value": "hr"}
        ]},
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-128, 192],
      "id": "2906af30-8f5b-4eb8-a7ef-d59ef44c95eb", "name": "GET_EMAIL",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {"mode": "combine", "combineBy": "combineByPosition", "options": {}},
      "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [0, 0],
      "id": "0bf468d2-9b72-41f9-bb20-a1a07a3c750f", "name": "MERGE_FINAL"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const d = item.json;\n  const hunterEmails = (d.data || {}).emails || [];\n  const bestEmail = hunterEmails.length > 0 ? hunterEmails[0].value : \"\";\n  return { json: { Entreprise: d.Entreprise || \"\", Ville: d.Ville || \"\", \"Site web\": d[\"Site web\"] || \"\", \"Email RH\": bestEmail, Source: d.Source || \"\", Statut: d.Statut || \"A contacter\", \"Intitulé poste\": d[\"Intitulé poste\"] || \"\", \"Lien offre\": d[\"Lien offre\"] || \"\" } };\n});"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [176, 208],
      "id": "47729c95-d485-4aa1-b9ad-b42025fe4ee7", "name": "FORMATEUR"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {"__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "list", "cachedResultName": "RECHERCHE ALTERNANCE", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"},
        "sheetName": {"__rl": true, "value": "gid=0", "mode": "list", "cachedResultName": "RECHERCHE ALTERNANCE", "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"},
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {"Entreprise": "={{ $json.Entreprise }}", "Email RH": "={{ $json['Email RH'] }}", "Ville": "={{ $json.Ville }}", "Site web": "={{ $json['Site web'] }}", "Source": "={{ $json.Source }}", "Statut": "={{ $json.Statut }}", "Intitulé poste": "={{ $json['Intitulé poste'] }}", "Lien offre": "={{ $json['Lien offre'] }}"},
          "matchingColumns": ["Entreprise"],
          "schema": [
            {"id": "Entreprise", "displayName": "Entreprise", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Ville", "displayName": "Ville", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Site web", "displayName": "Site web", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email RH", "displayName": "Email RH", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Source", "displayName": "Source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Statut", "displayName": "Statut", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Intitulé poste", "displayName": "Intitulé poste", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Lien offre", "displayName": "Lien offre", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.7, "position": [400, 208],
      "id": "c3471a83-36cf-44c1-8e35-970571868f32", "name": "EXPORT_SHEET"
    }
  ],
  "connections": {
    "TRIGGER": {"main": [[{"node": "GET_OFFRES_JSEARCH", "type": "main", "index": 0}, {"node": "GET_OFFRES_SERPAPI", "type": "main", "index": 0}]]},
    "GET_OFFRES_SERPAPI": {"main": [[{"node": "PARSE_SERPAPI", "type": "main", "index": 0}]]},
    "PARSE_SERPAPI": {"main": [[{"node": "MERGE_OFFRES", "type": "main", "index": 0}]]},
    "GET_OFFRES_JSEARCH": {"main": [[{"node": "PARSE_JSEARCH", "type": "main", "index": 0}]]},
    "PARSE_JSEARCH": {"main": [[{"node": "MERGE_OFFRES", "type": "main", "index": 1}]]},
    "MERGE_OFFRES": {"main": [[{"node": "GET_EMAIL", "type": "main", "index": 0}, {"node": "MERGE_FINAL", "type": "main", "index": 0}]]},
    "GET_EMAIL": {"main": [[{"node": "MERGE_FINAL", "type": "main", "index": 1}]]},
    "MERGE_FINAL": {"main": [[{"node": "FORMATEUR", "type": "main", "index": 0}]]},
    "FORMATEUR": {"main": [[{"node": "EXPORT_SHEET", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "binaryMode": "separate"},
  "staticData": null, "meta": null, "pinData": {},
  "versionId": "YOUR_VERSION_ID",
  "activeVersionId": null, "triggerCount": 0,
  "shared": [{"updatedAt": "2026-06-17T20:17:33.184Z", "createdAt": "2026-06-17T20:17:33.184Z", "role": "workflow:owner", "workflowId": "YOUR_WORKFLOW_ID", "projectId": "YOUR_N8N_PROJECT_ID"}],
  "activeVersion": null, "tags": []
}
